pkgbase = unx-laptop
	pkgdesc = Unoxxis Metapackage for laptop systems
	pkgver = 2
	pkgrel = 2
	url = https://github.com/unoxxis/PKGBUILDs
	arch = any
	groups = unoxxis-meta
	license = GPL-3.0-or-later
	depends = unx-desktop
	depends = networkmanager-l2tp
	depends = strongswan
	depends = networkmanager-strongswan

pkgname = unx-laptop
