pkgbase = unx-base
	pkgdesc = Unoxxis Base System Metapackage
	pkgver = 4
	pkgrel = 1
	url = https://github.com/unoxxis/PKGBUILDs
	arch = any
	groups = unoxxis-meta
	license = GPL-3.0-or-later
	depends = unx-cpu-spec
	depends = base
	depends = base-devel
	depends = btrfs-progs
	depends = linux
	depends = linux-firmware
	depends = paru
	depends = chezmoi
	depends = zram-generator
	depends = efibootmgr
	depends = networkmanager
	depends = vim
	depends = git
	depends = man-db
	depends = man-pages
	depends = zsh
	depends = vim-colors-solarized-git
	depends = zsh-theme-powerlevel10k-git
	depends = zsh-autosuggestions
	depends = zsh-history-substring-search
	depends = zsh-syntax-highlighting
	depends = ttf-fira-code
	depends = ttf-firacode-nerd
	depends = ttf-meslo-nerd-font-powerlevel10k
	depends = awesome-terminal-fonts
	depends = powerline-fonts
	source = zsh-rehash.hook
	sha256sums = 7eeb2853d23cbba629f22d10384129a879c75672c0f3d7aaacb5cd4a4dc73702

pkgname = unx-base
