pkgbase = unx-base
	pkgdesc = Unoxxis Base System Metapackage
	pkgver = 2
	pkgrel = 1
	url = https://github.com/unoxxis/PKGBUILDs
	arch = any
	groups = unoxxis-meta
	license = GPL-3.0-or-later
	depends = unx-cpu-spec
	depends = base
	depends = base-devel
	depends = btrfs-progs
	depends = linux
	depends = linux-firmware
	depends = paru
	depends = chezmoi
	depends = zram-generator
	depends = efibootmgr
	depends = networkmanager
	depends = vim
	depends = git
	depends = man

pkgname = unx-base
