pkgbase = unx-base
	pkgdesc = Unoxxis Base System Metapackage
	pkgver = 6
	pkgrel = 3
	url = https://github.com/unoxxis/PKGBUILDs
	install = unx-base.install
	arch = any
	groups = unoxxis-meta
	license = GPL-3.0-or-later
	depends = unx-cpu-spec
	depends = base
	depends = base-devel
	depends = btrfs-progs
	depends = linux
	depends = linux-firmware
	depends = paru
	depends = chezmoi
	depends = zram-generator
	depends = efibootmgr
	depends = networkmanager
	depends = vim
	depends = git
	depends = man-db
	depends = man-pages
	depends = zsh
	depends = bat
	depends = git-delta
	depends = pacman-contrib
	depends = reflector
	depends = paccache-clean-hook
	depends = pacdiff-pacman-hook-git
	depends = sync-pacman-hook-git
	depends = check-broken-packages-pacman-hook-git
	depends = vim-colors-solarized-git
	depends = zsh-theme-powerlevel10k-git
	depends = zsh-autosuggestions
	depends = zsh-history-substring-search
	depends = zsh-syntax-highlighting
	depends = ttf-fira-code
	depends = ttf-firacode-nerd
	depends = ttf-meslo-nerd-font-powerlevel10k
	depends = awesome-terminal-fonts
	depends = powerline-fonts
	source = zsh-rehash.hook
	source = reflector.conf
	source = swappiness.conf
	source = unx-pacman.conf
	sha256sums = 7eeb2853d23cbba629f22d10384129a879c75672c0f3d7aaacb5cd4a4dc73702
	sha256sums = 34747ee04aaa49f3cce15c07e64021824acfa0d2361dd72cd9226f23916e9bbb
	sha256sums = 7fc2df93687e85e0d0032513b44e4fd75f0ad47790c07556fbba657e6cbd92c8
	sha256sums = 21602b6af86019df98cf85422de8a1414143d79d186a945ed0b17d6cd642d360

pkgname = unx-base
