pkgbase = list-optdeps
	pkgdesc = List optional dependencies required by installed packages
	pkgver = 0.1
	pkgrel = 3
	url = https://github.com/unoxxis/PKGBUILDs
	arch = any
	license = GPL-3.0-or-later
	depends = expac
	depends = python3
	source = list-optdeps.py
	sha256sums = aea3fbe53f3504b66c3996a9bb8b2b007111757a552446ea76a71f5c291be24a

pkgname = list-optdeps
