pkgbase = unx-cpu-spec
	pkgdesc = Unoxxis Metapackage for CPU specific dependencies
	pkgver = 1
	pkgrel = 1
	url = https://github.com/unoxxis/PKGBUILDs
	arch = any
	groups = unoxxis-meta
	license = GPL-3.0-or-later

pkgname = unx-cpu-intel
	depends = intel-ucode
	provides = unx-cpu-spec

pkgname = unx-cpu-amd
	depends = amd-ucode
	provides = unx-cpu-spec
