pkgbase = unx-desktop
	pkgdesc = Unoxxis Metapackage for desktop systems
	pkgver = 2
	pkgrel = 2
	url = https://github.com/unoxxis/PKGBUILDs
	arch = any
	groups = unoxxis-meta
	license = GPL-3.0-or-later
	depends = unx-base
	depends = pipewire
	depends = pipewire-alsa
	depends = pipewire-jack
	depends = pipewire-pulse
	depends = wireplumber
	depends = libpulse
	depends = gst-plugin-pipewire
	depends = ttf-fira-code

pkgname = unx-desktop
