pkgbase = unx-desktop
	pkgdesc = Unoxxis Metapackage for desktop systems
	pkgver = 8
	pkgrel = 1
	url = https://github.com/unoxxis/PKGBUILDs
	install = unx-desktop.install
	arch = any
	groups = unoxxis-meta
	license = GPL-3.0-or-later
	depends = unx-base
	depends = gdm
	depends = nautilus
	depends = sushi
	depends = xdg-desktop-portal-gnome
	depends = xdg-user-dirs-gtk
	depends = loupe
	depends = evince
	depends = tecla
	depends = tracker3-miners
	depends = gnome-color-manager
	depends = gnome-keyring
	depends = gnome-logs
	depends = gnome-session
	depends = gnome-settings-daemon
	depends = gnome-shell
	depends = gnome-shell-extensions
	depends = gnome-user-docs
	depends = gnome-console
	depends = gnome-control-center
	depends = gnome-menus
	depends = gnome-calculator
	depends = gnome-characters
	depends = gnome-clocks
	depends = gnome-connections
	depends = gnome-font-viewer
	depends = gnome-remote-desktop
	depends = gnome-system-monitor
	depends = gnome-weather
	depends = dconf-editor
	depends = gnome-tweaks
	depends = fwupd
	depends = gvfs
	depends = gvfs-afc
	depends = gvfs-gphoto2
	depends = gvfs-mtp
	depends = gvfs-nfs
	depends = gvfs-smb
	depends = gvfs-goa
	depends = gnome-disk-utility
	depends = gnome-maps
	depends = gnome-music
	depends = totem
	depends = gnome-text-editor
	depends = gnome-user-share
	depends = malcontent
	depends = simple-scan
	depends = snapshot
	depends = cheese
	depends = yelp
	depends = gnome-tour
	depends = raider-file-shredder
	depends = collision
	depends = decoder
	depends = impression
	depends = junction
	depends = gnome-calendar
	depends = gnome-contacts
	depends = geary
	depends = pipewire
	depends = pipewire-alsa
	depends = pipewire-jack
	depends = pipewire-pulse
	depends = wireplumber
	depends = libpulse
	depends = gst-plugin-pipewire
	depends = firefox
	depends = firefox-i18n-de
	depends = firefox-ublock-origin
	depends = ttf-fira-code
	depends = ttf-firacode-nerd
	depends = ttf-meslo-nerd-font-powerlevel10k
	depends = noto-fonts-emoji
	depends = noto-fonts
	depends = ttf-dejavu
	depends = ttf-liberation
	depends = unx-gnome-settings
	depends = papirus-icon-theme
	depends = gnome-backgrounds
	depends = baobab
	depends = sysprof
	source = 50-aten-usb-switch-power-save.rules
	sha256sums = 25d70820120158cb3a3032a8982876d5aed0a7725eb5555f23cfc0e81ba0b0b8

pkgname = unx-desktop
